
.ui.text.container{
    padding-top:150px;
    padding-bottom: 150px
}
#bigButton{
    margin-top:50px;
}
.ui.checkbox label{
  color:white;
}
label::after{
  color:white;
}
.questionHeading{
  padding-bottom: 50px;
}
.recPage{
  padding-top: 50px;
}
.content{
  padding-bottom: 20px;
}
.ui.card{
  margin: 0 auto 0 auto;
  background-color: transparent;
}
.ui.fluid.dropdown{
  width:50%;
  margin: 0 auto 0 auto;
}
#bottom{
  padding-top:50px;
}
#finishBtn{
  margin-top: 30px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media only screen and (max-width: 700px) {
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
}