body, body.pushable.pusher, div.pusher.dimmed, div.pusher, body.pushable {
  background: #1b1c1d!important;
}
input[type="text"]::placeholder {  
  text-align: center; 
} 
.ui.text.container{
    padding-top:150px;
    padding-bottom: 150px
}
#bigButton{
    margin-top:20px;
}
.ui.checkbox label{
  color:white;
}
label::after{
  color:white;
}
.questionHeading{
  padding-bottom: 50px;
}
.recPage{
  padding-top: 50px;
}
/* .content{
  padding-bottom: 20px;
} */
.ui.card{
  margin: 0 auto 0 auto;
  background-color: transparent;
}
.ui.fluid.dropdown{
  width:50%;
  margin: 0 auto 0 auto;
}
#finishBtn{
  margin-top: 30px;
}
#searchGame-btn {
  width: 75px;
  height: 25x;
}
/* .column {
  float: left;
  width: 50%;
} */
#getRecContainer {
  margin-top: 80px;
}
h2 {
  color: white;
}
h1.ui.inverted.header {
  padding: 20px;
  margin-bottom: 30px;
}
h1{
  margin-top:80px;
}
#topRatedContainer, #randomContainer {
  /* word-spacing: 5px; */
  margin-top: 60px;
}
div#gameRec-text, #video-Content{
  color: white;
  line-height: 200%;
  font-size: 20px;
  padding: 20px, 1px;
}
#news-header{
  padding:160x;
}
#articleContainer {
  padding: 10px;
  margin-top: 0px;
  width: 100%;
}
#video-Content{
  width: fit-content;
  margin-left:200px;
}
#videosSearch-Container{
  padding-bottom:75px;
}
#videoOuter{
  margin-top:80px;
  /* padding-left: 200px; */
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

iframe {
  width: 480px;
  height: 270px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media only screen and (max-width: 700px) {
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
}